/**
 * Layout styles for Desert Tours
 *
 * @author Rogier van der Linde <rogier.vanderlinde@kahosl.be>
 *
 */

/* GENERAL */
/* ======= */

.wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

/* HEADER */
/* ====== */

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    padding-left: 20px;
}

/* MAIN */
/* ====== */

#content .left img {
    float: left;
    margin-right: 5px;
}

#content .right img {
    float: right;
    margin-left: 5px;
}

/* CONTENT */
/* ======= */

/* DOORMAT */
/* ======= */

/* FOOTER */
/* ======= */
@media(min-width: 730px) {
    nav ul {
        display: flex;
        display: flex;
        flex-wrap: wrap;
    }

    #content {
        display: flex;
        justify-content: space-between;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #content .right {
        max-width: 35%;
    }

    #content .left {
        max-width: 70%;
    }

    #gallery ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-items: center;
        justify-content: space-between;
    }

    #gallery li {
        max-width: 25%;
        margin-bottom: 12px;
    }

    #doormat .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    footer .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}